.bk {
	padding: 0;
	width: 160px;
	margin: 0px;
	background-image: url(bk.gif);
	border: 3px double #00CC00;
}
.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.txtbox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.button {
	background-color: #239C00;
	border: 1px solid #CCCCCC;
	padding: 0;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
	
fieldset { 
	border: 3px solid #fff; 
	margin: 0;
	padding: 13;

}
